#window {
    background-color: #1a1a1a;
    border: 2px solid rgb(40, 40, 40);
    border-radius: 0;
}

#input {
    background-color: #2a2a2a;
    color: #dfdfdf;
    border: none;
    border-radius: 0;
}

#entry {
    border-left: 2px solid rgb(40, 40, 40);
    border-right: 2px solid rgb(40, 40, 40);
    background-color: #1a1a1a;
    color: #dfdfdf;
    border-radius: 0;
}

#entry:selected {
    background-color: #1b1b1b;
}
